
* {
    box-sizing: border-box; margin: 0; padding: 0;
}

.column {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputarea{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
}


.errorlabel {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-decoration: underline;
    align-items: center;
}



